.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  border: 3px solid #348802;
  padding: 1rem;
  border-radius: 5px;
}

.star {
  cursor: pointer;
}





